.Card {
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.Card .Title{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: white;
    color: black;
    padding: 10px;
    flex-grow: 1;
}